body1{
  background: #FFF;
  color: #FFF;
}

body2{
  background: #000000;
  color: #303030;
}

label{
  width: auto;
  display: inline-block;
  text-align: left;
}

input{
  background: cyan;
  color: darkpurple;
  font-size: 120%;
  border-color: #000;
	border: 10px;
	font-family: 'Great Vibes'
}

.Message{
  color: darkred;
}

#Main{
  background: #FFF;
	border-radius: 5%;
  padding: 5%;
}

title {
  text-size: 100px;
}
life {
	font-size: 20px;
}

#Messages {
	height: 500px !important;
	width: default;
	box-sizing: border-box;
	overflow: scroll;
}