body{
  background: lightsteelblue;
	font-family: 'Beth Ellen';
	font-size: 12px;
	color: white;
	font-style: italic thin;
}	

label{
  width: auto-flow;
  display: inline-flex;
}

#RA {
	opacity: 0;
}

input{
  background: slategray;
  color: darkpurple;
  font-size: 120%;
  border: 2px solid black;
	font-family: 'Beth Ellen';
}

.Message{
  color: darkslateblue;
	font-size: 14px;
	max-height: 275px;
	overflow-y: scroll;
	display: block;
	font-weight: bold;
	border: 1px solid black;
}

#Main{
  background: lightslategray;
	border-radius: 25px;
  padding: 10px;
}

h3 {
	max-height: 1500px;
	overflow-y: scroll;
}
